################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vmlogs
/Videos
/useruid.ini
/todo.txt
/swt-win32-4623-64.dll
/source
/Searches
/Saved Games
/project.txt
/password.txt
/OneDrive
/nuuid.ini
/ntuser.ini
/NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Nox_share
/name.txt
/my_project
/Music
/MicrosoftEdgeBackups
/matrix2.bat
/matrix.bat
/Links
/inst.ini
/inittk.ini
/IBA_IOAPDATA
/git token.txt
/filename.sql
/Favorites
/Downloads
/Documents
/d4ac4633ebd6440fa397b84f1bc94a3c.7z
/Contacts
/code.txt
/assign.txt
/AppData
/anything.bat
/AndroidStudioProjects
/3D Objects
/.vscode
/.VirtualBox
/.thumbnails
/.swt
/.ssh
/.pylint.d
/.pm2
/.pentaho
/.node_repl_history
/.mongorc.js
/.lesshst
/.kettle
/.idlerc
/.gradle
/.gitconfig
/.emulator_console_auth_token
/.dotnet
/.dbshell
/.config
/.cache
/.bash_history
/.angular-config.json
/.3T
